In [2]:
# Data Science Tools and Ecosystem

In [12]:
intro_sentence = "In this notebook, various aspects of data science, including tools, techniques, and their ecosystem, are explored."
print(intro_sentence)

In this notebook, various aspects of data science, including tools, techniques, and their ecosystem, are explored.

In [13]:
languages = ["Python", "R", "SQL", "Julia", "Scala"]
print("Some of the popular languages that Data Scientists use are:\n")
for i, lang in enumerate(languages, 1):
    print(f"{i}. {lang}")

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Scala

In [14]:
libraries = ["NumPy", "Pandas", "Scikit-learn", "TensorFlow", "Matplotlib"]
print("Some of the commonly used libraries used by Data Scientists include:\n")
for i, lib in enumerate(libraries, 1):
    print(f"{i}. {lib}")

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Scikit-learn
4. TensorFlow
5. Matplotlib

### Data Science Tools  

| Data Science Tools  |
|---------------------|
| Jupyter Notebook   |
| RStudio           |
| Apache Zeppelin   |

In [28]:
from tabulate import tabulate

# Define the table data
data = [["Jupyter Notebook"], ["RStudio"], ["Apache Zeppelin"]]

# Define the header
headers = ["Data Science Tools"]

# Print the table
print(tabulate(data, headers, tablefmt="grid"))

ModuleNotFoundError: No module named 'tabulate'

In [29]:
!pip install tabulate

Collecting tabulate
  Downloading tabulate-0.9.0-py3-none-any.whl.metadata (34 kB)
Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.9.0

In [30]:
from tabulate import tabulate

# Define the table data
data = [["Jupyter Notebook"], ["RStudio"], ["Apache Zeppelin"]]

# Define the header
headers = ["Data Science Tools"]

# Print the table
print(tabulate(data, headers, tablefmt="grid"))

+----------------------+
| Data Science Tools   |
+======================+
| Jupyter Notebook     |
+----------------------+
| RStudio              |
+----------------------+
| Apache Zeppelin      |
+----------------------+

### Below are a few examples of evaluating arithmetic expressions in Python.

- **Addition:** `3 + 5 = 8`  
- **Subtraction:** `10 - 4 = 6`  
- **Multiplication:** `6 * 7 = 42`  
- **Division:** `16 / 4 = 4.0`  
- **Exponentiation:** `2 ** 3 = 8`

In [31]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
print(result)  # Expected output: 17

17

In [32]:
# This will convert 200 minutes to hours by dividing by 60.
hours = 200 / 60
print(hours)  # Expected output: 3.3333...

3.3333333333333335

**Objectives:**  

- List popular languages for Data Science  
- Identify commonly used libraries in Data Science  
- Explore open-source development environment tools  
- Perform basic arithmetic operations in Python  
- Convert units such as minutes to hours using Python

## Author  
Mandy